<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<!-- DEBUG 용 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>%d %5p [%c] %m%n</pattern> -->
            <pattern>%d: [%5p] [%c] %m%n</pattern>
        </encoder>
    </appender>

	<!-- INFO 용 -->
    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p %m%n</pattern>
        </encoder>
    </appender>

	<!-- 로거 -->
	<!-- <logger name="board" level="DEBUG" appender-ref="console" /> -->
	<logger name="board" level="INFO" appender-ref="console" />
	
	<!-- SQL 보여주기 -->
	<logger name="jdbc.sqlonly" level="INFO" appender-ref="console-infolog" />
	
	<!-- 조회결과를 테이블로 보여주기 -->
	<logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog" />
	
	<!-- 루트 로거 -->
	<!-- <root level="DEBUG"> -->
	<root level="INFO">
		<appender-ref ref="console" />
	</root>
</configuration>