<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
</head>  
  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="script"></th:block>

  <div layout:fragment="content">
	<div class="container">
		<h4 class="text-center">사용자 리스트</h4>
		<table class="board_list">
			<colgroup>
				<col width="10%" />
				<col width="10%" />
				<col width="10%" />
				<col width="15%" />
				<col width="*" />
			</colgroup>
			<thead>
			<tr>
				<th scope="row">아이디</th>
				<th scope="row">패스워드</th>
				<th scope="row">이름</th>
				<th scope="row">이메일</th>
				<th scope="row">권한</th>
				<th scope="row">가입일</th>
			</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.size(list)} > 0" th:each="vo : ${list}">
					<td th:text="${vo.id}"></td>
					<td th:text="${vo.pw}"></td>
					<td class="title">
						<a href="/user/userDetail/" th:attrappend="href=${vo.id}" th:text="${vo.name}"></a>
					</td>
					<td th:text="${vo.email}"></td>
					<td th:text="${vo.role}"></td>
					<td th:text="${vo.joinDate}"></td>
				</tr>
				<tr th:unless="${#lists.size(list)} > 0">
					<td colspan="4">읎다</td>
				
				</tr>
			</tbody>
		</table>
		
		<button type="button" class="btn btn-outline-secondary">
		
		<A href="/user/userInsert" class=btn>사용자 등록</A></button>
		
	
	</div>
  </div>
</html>

